ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .tablehead{
    color: #494949;
    font-weight: bold;
    font-size: 40px;
  }
  
  li a:hover {
    text-decoration: 3px solid rgb(72, 83, 238) underline;
    color:   rgb(72, 83, 238)
  }
  .card{
    width:100%;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

  }
  
  .card-padding{
    padding:1%;
  }
  .table{
  border-radius: 5px;
  }
  
  .Heading{
  padding-left: 15px;
  font-size: 20px;
  font-weight: bold;
  color:#3247D5 ;
  text-decoration-line: underline;
  }
  
  /* .button{
  text-transform: uppercase;
  font-weight: initial;
  text-shadow: initial;
  letter-spacing: 0.5px;
  background-color:#2F87CC ;
  color:white;
  border-radius: 5px;
  border:none;
  padding: 5px;
  width:40%;
  float: right;
  margin-right: 15px;
  font-size: 15px;
  font-weight: bold;
  } */

  .Overflow{
    width: 102.5%;
    overflow-x: scroll;
  }
  
  .data{
padding-left: 20px;
  }
  .Send {
    background-color: #2f87cc;
    color: white;
    border-radius: 7px;
    border: none;
    width: 110px;
    float: right;
    margin-bottom: 12px;
  }

  .Export {
    background-color: #2f87cc;
    color: white;
    border-radius: 7px;
    border: none;
    width: 110px;
    float: right;
    margin-bottom: 12px;
    margin-right: 15px;
  }
  
  .edit {
    width: 85%;
    border: none;
    background-color: #2F87CC ;
    text-align: center;
    border-radius: 16px;
    color: white;
    margin-top: 6px;
  }
  
  .FilterClass{
    padding-left: 15px;
    color: black;
    font-size: 15px;
    font-weight: bold;
  }
  
  .View{
    color: black;
    font-size: 15px;
    font-weight: bold;
  }
  
 
  
  .HrLine{
    margin-left: 15px;
    margin-right: 15px;
  }
  .form-control{
    font-size: 12px;
    font-weight: bold;
  }
  .newFont{
    font-size: 15px;
    font-weight: bold;
  }
  
  .img{
    width: 25px;
    height: 10%;
  }
  .img:hover{
      background-color: chartreuse;
      color: white;
  }
  .imgcancel{
    width: 25px;
    height: 10%;
  }
  .imgcancel:hover{
    background-color: red;
    color: white;
  }
  
  .SelectData{
    text-align: center;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 27px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  .EditBTN{
    border-radius: 5px;
    border-width: 1.5px;
    width: 50px;
    margin-right: 10px;
  }

  .DeleteBTN{
    border-radius: 5px;
    border-width: 1.5px;
    width: 50px;
  }

  .SubmitBTN{
    background-color: #21a4da;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
  }
  

  .SelectData{
    text-align: center;
  }

  .TableBorder{
    border: 2px solid #6c757d;
    border-bottom: 2px solid #6c757d;
  }

.tab-slider--nav {
    width: 100%;
  }

  /* .tab-slider--container{
    margin-left:-50px;
  } */
  
  .tab-slider--tabs {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    border-radius: 35px;
    overflow: hidden;
    background: #fff;
    height: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .tab-slider--tabs:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    border-radius: 35px;
  }
  
  .tab-slider--tabs.slide:after {
    left: 50%;
  }
  
  .tab-slider--trigger {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    color: #2E3C4E;
    text-transform: uppercase;
    text-align: center;
    padding: 11px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: color 250ms ease-in-out;
    transition: color 250ms ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .tab-slider--trigger.active {
    color: #fff;
    background: #2E3C4E;
  }
  
  .tab-slider--body {
    margin-bottom: 20px;
  }
  