<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <p class="Heading">Separation Type Dashboard</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-2">

        </div>
    </div>


    <div class="card">
        <br>
        <div class="row">
            <div class="col-lg-1">
                <p class="filter">Filter By </p>
            </div>
            <div class="col-lg-2">
                <input type="date" class="form-control">
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="search">
            </div>
        </div> <br>
    </div> <br>

    <div class="row">
        <div class="col-md-10">
            <p class="show3res">SHOWING <span >{{sepateTypelist.length}} </span>RESULTS</p>
        </div>
        <div class="col-md-2">
            <button class="button" routerLink="/hr/SeparationTypeForm">Add New</button>
        </div>
    </div>
    <br>
    <div class="row row1">
    </div>

    <div class="row">
        <div class="col-md-12">
     
                <table class="table">
                    <thead>
                        <tr>
                            <th>Separation Type</th>
                            <th>Description</th>
                           
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let separate of sepateTypelist">
                            <td>{{separate.short}}</td>
                            <td>{{separate.description}}</td>
                         
                            <td>
                                <button class="upload"
                                [routerLink]="['/hr/SeparationTypeForm',separate.id]">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button class="upload" (click)="delete(separate.id)">Delete</button></td>
                        </tr>
                    </tbody>
                </table>
 

        </div>
    </div>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />