.generate {
   margin-left: 36px;
   height: 38px;
   border-radius: 7px;
   background: #2F87CC;
   color: white;
   border: none;
   width: 100px;
 }

.generate1{
    height: 38px;
    border-radius: 23px;
    background: #1693a7;
    color: white;
    width: 250px;
    margin-left: -10px;
}


.generate2{
    height: 39px;
    border-radius: 23px;
    background: #1693a7;
    color: white;
    width: 297px;
    margin-left: -36px;
}

.government{  
    background-color: #2F87CC;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   color:white;
}
.form-control{
   width:100%;
   height:auto;
   padding:0px;
}
.save{
   border-radius: 5px;
   background-color: #2F87CC;
   color:white;
   width:80%;
   margin-left: 10%;
   border:none;
   font-size: 15px;
   font-weight: bold;
}
  
.delete{
   border-radius: 10px;
   background-color:#2F87CC;
   color:white;
   width:80%;
   margin-left: 10%;
   border:none;

}
.background{
   background-color:whitesmoke;
}
.text{
   color:black;
   font-weight: bold;
   font-family:sans-serif;
   font-size: 15px;
}

.text1{
   color:black;
   font-weight: bold;
   font-family:sans-serif;
   text-align: center;
   font-size: 15px;
}

.taxtable{
   
   font-size: 18px;
   font-weight: bold;

   text-align: center;
 
}
.input{
   padding: 10px;
}

.month{
    margin-left:-36px;
}
.FilterClass{
   color: black;
   font-size: 15px;
   font-weight: bold;
}

.button {
   background-color: #2f87cc;
   color: white;
   height: 38px;
   border-radius: 7px;
   border: none;
   width: 140px;
   float: right;
   margin-bottom: 10px;
 }
 .form-control {
   height: 34px;
 
 }