ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: #494949;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  text-decoration: 3px solid rgb(28, 32, 94) underline;
}

.requestbtn {
  background-color: #3247D5;
  color: white;
width: 75%;
  font-weight: bold;
  border-left: solid 1px #f5f5f5;
  font-size: 15px;
  line-height: 12px;
  text-align: center;
  white-space: nowrap;
}

.leavelist {
  padding: 0px 20px;
}

/* .btnhover:hover{
      background-color: #2F87CC;
      color: white;
  } */
.applyleavetxt {
  padding: 0px 10px;

  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/* .container-fluid {

  padding: 0px;
  margin: 0px;
} */

.show3res {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5;
  color: #777;
  text-transform: uppercase;
  padding: 10px 0 5px;
  color: #0C275A;
}

.leavebalance {
  padding-top: 10px;
  padding-left: 10px;
  font-weight: bold;
  color: #404040;
  font-size: 20px;
}

.leavereq {
  padding-left: 10px;
}

.inputfield {
  background-color: rgb(238, 234, 234);
  ;
}

.table {
  color: #494949;
  font-size: 12px;
  vertical-align: middle;
  background-color: white;
}

.BackEnt {
  margin-top: -10px;
  font-size: x-large;
  font-weight: 900;
  text-decoration: none;
}

.BACK {
  margin-top: 10px;
  text-decoration: none;
}

.submitbtn {
  background-color: #2F87CC;
  color: white;
}

.txt {
  color: red;
}

.active {
  color: #3247D5;
}

/* .card {
  background: #FFFFFF;
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
} */

.space {
float: right;
  color: #0C275A;
}

.band {
  background-color: #02CFFF;
  color: white;
}

.upload {
  background-color: #3247D5;
  color: white;
  border-radius: 5px;
  border: none;
}