<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <label class="Heading">My Account Settings</label>
            <div class="card card-padding">
                <div class-="row">
                    <div class="col-lg-12">
                        <p class="Account">ACCOUNT</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <p class="Text">Change Password:</p>
                        <p class="Text1">Choose a unique password to protect your account</p>
                    </div>
                    <div class="col-lg-3">
                        <p class="Change" routerLink="/shared/MyAccountSettingModify">Change Now</p>
                    </div>
                </div>
                <hr>

            </div>
            <div class="col-lg-1"></div>
        </div>