<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-lg-11">
                <p class="Heading">Exit Formality</p>
            </div>
        </div><br>
        <div class="card">
            <div class="row leavereq">
                <div class="col-md-1">
                    <p>Filter By</p>
                </div>
                <div class="col-md-3">
                    <p>Start Date</p>
                </div>
                <div class="col-md-3">
                    <p>End Date</p>
                </div>
            </div>
            <div class="row leavereq">
                <div class="col-md-1">

                </div>
                <div class="col-md-3">
                    <input type="date" id="startdate" name="startdate" [(ngModel)]="startdate" class="form-control">
                </div>
                <div class="col-md-3">
                    <input type="date" id="enddate" name="enddate" [(ngModel)]="enddate"
                        (change)="getenddate($event)" class="form-control">
                </div>

                <div class="col-md-3">
                    <button class="form-control CancelBTN" type="button" (click)="exportexcel()">Export To Excel
                    </button>
                </div>


            </div>
        </div>
        <br/>
        <br/>
        <!-- <div class="row">
                <div class="col-lg-6">
                    <h3>Exit Formality</h3>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-2">

                </div>
            </div> -->


        <!-- <div class="row">
                <div class="col-md-10">

                </div>
                <div class="col-md-2">
                    <button *ngIf="roledid==9" class="form-control btn" routerLink="/Exitformalityform">Add New</button>
                </div>


            </div> -->

        <div class="row">
            <div class="col-md-10">
                <p class="show3res">SHOWING <span style="color: black;"> {{annnounecemnetlist.length}} </span>RESULTS
                </p>
            </div>
            <div class="col-md-2">
                <!-- <button class="form-control requestbtn" routerLink="/AddressDetailsWizard">Add Staff</button> -->
                <a href="#/hr/ExitFormalityForm"><button *ngIf="roledid==9" class="button" style="width: 70%;">Add
                        New</button> </a>
            </div>
        </div>
        <br>

        <!-- <div class="row" style="margin-left: -99px;">
                <div class="col-lg-1"></div>
                <p class="show3res">SHOWING <span style="color: black;"> {{annnounecemnetlist.length}}
                    </span>RESULTS</p>
            </div>
            <hr> -->
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Resigned Date</th>
                                <th>Separation Type</th>
                                <th>Staff Name</th>
                                <th>Last Working Day</th>
                                <th>HR Clearance</th>
                                <th>Manager Clearance</th>
                                <th>Attachments</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let list of annnounecemnetlist">
                                <td>{{list.modifiedDate|date}}</td>
                                <td>{{list.seprationtype}}</td>
                                <td>{{list.name}}</td>
                                <td>
                                    <p>{{list.lastworkingdate|date}}</p>

                                </td>
                                <td>
                                    <p *ngIf="list.hRclearance==0">Pending</p>
                                    <p *ngIf="list.hRclearance!=0">Clear</p>
                                </td>

                                <td>
                                    <p *ngIf="list.ownclearance==0">Pending</p>
                                    <p *ngIf="list.ownclearance!=0">Clear</p>
                                </td>

                                <td>
                                    <button class="form-control upload"
                                        *ngIf="list.experienceletter!=null && list.hRclearance==1"
                                        (click)="experience(list.experienceletter)">Experience Letter</button> <br>
                                    <button class="form-control upload"
                                        *ngIf="list.releavingletter!=null  && list.hRclearance==1"
                                        (click)="releaving(list.releavingletter)">Releaving Letter</button>
                                </td>

                                <td>
                                    <button class="upload" (click)="delete(list)">Delete</button>
                                    <button *ngIf="roledid==9 && list.hRclearance==0" class="upload"
                                        (click)="hrupdate(list)" data-toggle="modal" data-target="#exampleModal"
                                        style="margin-left: 24px;">Clear</button><br /><br />

                                    <button *ngIf="roledid==2 && list.ownclearance==0" class="upload"
                                        (click)="OwnClear(list)" style="margin-left: 2px;">Clear</button><br /><br />
                                    <button *ngIf="roledid==2 && list.ownclearance==0" class="upload"
                                        (click)="RetainEmployeee1(list)" data-toggle="modal"
                                        data-target="#Reject">Retain</button><br /><br />

                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <!-- <button class="upload">Edit</button> -->
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-md-1"></div>
        </div>



    </div>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div id="Reject" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h5> Notes</h5>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row notes">
                        <div class="col-lg-3">
                            Notes
                        </div>
                        <div class="col-lg-7">
                            <textarea rows="3" type="text" [(ngModel)]="Notes" id="Notes" name="Notes"
                                class="form-control" placeholder="Notes"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row" style="text-align: center;">
                        <div class="col-lg-4">

                        </div>
                        <div class="col-lg-5">
                            <button class="upload" (click)="RetainEmployeee()">Retain</button>
                        </div>
                    </div>

                    <br />

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">HR Clearance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <p>Experience Letter :</p>
                    </div>
                    <div class="col-lg-4">
                        <ngx-dropzone (change)="onSelect($event)" style="width:100% ;height: auto;">
                            <ngx-dropzone-label>Please Attach Pdf!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <p>Releaving Letter :</p>
                    </div>
                    <div class="col-lg-4">
                        <ngx-dropzone (change)="onSelect2($event)" style="width:100% ;height: auto;">
                            <ngx-dropzone-label>Please Attach Pdf!</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files1" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-4">
                        <p>Comments :</p>
                    </div>
                    <div class="col-lg-4">
                        <textarea class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="upload" data-dismiss="modal">Close</button>
                <button type="button" class="upload" data-dismiss="modal" (click)="UploadAttachment()">Update</button>
            </div>
        </div>
    </div>
</div>