<div class="container-fluid">

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <!-- <div>
                <ul>
                    <li><a class="active" routerLink="/WeeklyShift"> <u>My Weekly Shift</u></a></li>
                    <li *ngIf="roleid==2"><a class="leavelist" routerLink="/MyTeamWeeklyShift">My Team Weekly Shift</a>
                    </li>
                </ul>
            </div> -->
            <br>
            <div class="card">
                <div>
                    <label class="leavebalance">Period</label>
                </div>
                <hr>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <p>START DATE<span style="color: red;">*</span></p>
                    </div>
                    <div class="col-md-3">
                        <p>END DATE<span style="color: red;">*</span></p>
                    </div>

                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button class=" form-control submitbtn leavelist">Refresh</button>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <label>SHIFT DETAIL</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SHIFT DATE</th>
                                <th>SHIFT NAME</th>
                                <th>START TIME</th>
                                <th>END TIME</th>
                            </tr>
                        </thead>
                       
                            <tbody>
                                <tr *ngFor="let project of workplaceList">
                                  
                                    <td>{{project.shiftDate|date}}</td>
                                    <td>{{project.shiftName}}</td>
                                    <td>{{project.startTime|date:'hh:mm'}}</td>
                                    <td>{{project.endTime|date:'hh:mm'}}</td>
                                </tr>
                               
                            </tbody>
                       
                    </table>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>
