p {margin: 0; padding: 0;}	.ft10{font-size:7px;font-family:Times;color:#000000;}
	.ft11{font-size:9px;font-family:Times;color:#000000;}
	.ft12{font-size:12px;font-family:Times;color:#000000;}
	.ft13{font-size:9px;font-family:Times;color:#000000;}
	.ft14{font-size:7px;font-family:Times;color:#000000;}
	.ft15{font-size:8px;font-family:Times;color:#000000;}
	.ft16{font-size:21px;font-family:Times;color:#000000;}
	.ft17{font-size:43px;font-family:Times;color:#000000;}
	.ft18{font-size:13px;font-family:Times;color:#000000;}
	.ft19{font-size:9px;line-height:15px;font-family:Times;color:#000000;}
	.ft110{font-size:9px;line-height:13px;font-family:Times;color:#000000;}
	.ft111{font-size:9px;line-height:14px;font-family:Times;color:#000000;}