<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="background-color: F3F8FF;">
            <div class="row">
                <div class="col-lg-12">
                    <a href="" class="Heading1">My Team Leave Balance</a>
                    <!-- <hr class="HrLine"> -->
                </div>
            </div><br>

            <div class="card">
                <div class="row">
                    <div class="col-lg-1">
                        <p>Filter By</p>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" placeholder="Search" style="margin-left: 15px;" id="term" [(ngModel)]="term"
                            class="form-control">
                    </div>
                    <!-- <div class="col-lg-3"></div>
                    <div class="col-lg-4">
                        <a href="#/LeaveTypeForn"><button class="AddButton">Add</button> </a>
                    </div> -->
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <!-- <p class="show3res">SHOWING <span style="color: black;">{{leavelist.length}} </span>RESULTS</p> -->
                </div>
                <div class="col-md-4">
                    <button class="AddButton" (click)="exportexcel()">EXPORT TO EXCEL</button>
                </div>
            </div><br>
            <div class="row" style="margin-left: -99px;">
            </div>
            <!-- <hr class="HrLine"> -->
            <div class="row">
                <div class="col-md-12">

                    <table class="table" id="downloadaplication">
                        <thead>
                            <tr>

                                <th>Employee Name</th>
                                <th>Role</th>
                                <!-- <th>Medical Leave</th>
                                <th>Marriage Leave</th>
                                <th>Maternity leave</th> -->
                                <th>Current VL</th>
                                <th>Current Reserved VL</th>
                                <th>Accrued VL</th>
                                <th>Deferred VL</th>
                                <th>Current SL</th>
                                <th>Accrued SL</th>
                                <th>Emergency Leave</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of Staffleaveenitilment|filter:term">
                                <td>{{item.name}}</td>
                                <td>{{item.role}}</td>
                                <!-- <td>{{item.medicalLeaveEntitlement-item.medicalLeaveTaken}}</td>
                                <td>{{item.marriageLeaveEntitlement-item.marriageLeaveTaken}}</td>
                                <td>{{item.maternitityLeaveEntitlement-item.maternitityLeaveTaken}}</td> -->

                                <td>{{item.currentVL-item.currentVLTaken}}</td>
                                <td>{{item.currentReservedVL-item.currentReservedVLTaken}}</td>
                                <td>{{item.accruedVL-item.accruedVLTaken}}</td>
                                <td>{{item.deferredVL-item.deferredVLTaken}}</td>
                                <td>{{item.currentSL-item.currentSLTaken}}</td>
                                <td>{{item.accruedSL-item.accruedSLTaken}}</td>
                                <td>{{item.emergencyLeave-item.emergencyLeaveTaken}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>



        </div>
    </div>

</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
