<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">

            <div class="row">
                <div class="col-lg-8">
                    <h3 class="Heading">Salary Details</h3>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-2">

                </div>
            </div>

            <!-- <div class="row">
                <div class="col-lg-10"></div>
            </div> -->
            <br>
            <!-- <div class="row LocDashboard">
                <div class="col-lg-12">
                    <label style="padding-left: 10px;">Add Salary Details</label>
                </div>
            </div> -->
            <div class="card">
                <div class="row leavereq">
                    <div class="col-md-3">
                        <label>Role<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <label>Staff<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <p>Basic Salary.<span style="color: red;">*</span></p>
                    </div>
                     <div class="col-md-3">
                        <p>Christmas Bonus<span style="color: red;">*</span></p>
                    </div>

                </div>
                <div class="row leavereq">
                    <div class="col-md-3">
                        <select class="form-control" id="RoleID" name="RoleID" [(ngModel)]="RoleID"
                            (change)="GetRoleID($event)">
                            <option value="0">Select Role</option>
                            <option *ngFor="let item of RoleTypeList" value="{{item.id}}">{{item.short}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <ng-multiselect-dropdown [placeholder]="'Select Staff'" [settings]="dropdownSettings"
                            [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)">
                        </ng-multiselect-dropdown>
                    </div>
                    <div class="col-md-3">
                        <input type="number" id="BaseSal" name="BaseSal" [(ngModel)]="BaseSal" class="form-control"
                            placeholder="Basic Salary">
                    </div>
                    <div class="col-md-3">
                        <input type="number" id="deniminimis_amount" name="deniminimis_amount" [(ngModel)]="deniminimis_amount" class="form-control"
                            placeholder="Christmas Bonus">
                    </div>
                    <!-- <div class="col-md-3">
                        
                        <ng-multiselect-dropdown [placeholder]="'Select De-minimis'" [settings]="dropdownSettings1"
                            [data]="dropdownList1" [(ngModel)]="selectedItems1" (onSelect)="onItemSelect1($event)">
                        </ng-multiselect-dropdown>
                    </div> -->
                </div>
                <br>
                <!-- <div class="row leavereq" *ngIf="ID!=undefined">
                    <div class="col-md-3">
                        Selected De-minimis <h6>{{deniminimis}}</h6>
                        De-minimis Amount <h6>{{deniminimis_amount}}</h6>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div> -->
                <!-- <br>
                <div class="row leavereq" *ngIf="ID!=undefined">
                    <div class=" col-md-3">
                        <label>New Salary<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-md-3">
                        <label>Effective Date<span style="color: red;">*</span></label>
                    </div>
                </div>
                <br>
                <div class="row leavereq" *ngIf="ID!=undefined">
                    <div class="col-md-3">
                        <input type="number" id="NewSalary" name="NewSalary" [(ngModel)]="NewSalary"
                            class="form-control" placeholder="New Salary">
                    </div>
                    <div class="col-md-3">
                        <input type="date" id="effectivedate" name="effectivedate" [(ngModel)]="effectivedate"
                            class="form-control" placeholder="New Salary">
                    </div>
                </div>
                <br> -->
                <div class="row">
                    <div class="col-lg-12">
                        <div *ngIf="ID==undefined">
                            <button class="button" (click)="Save()">Submit</button>
                        </div>

                        <div *ngIf="ID!=undefined">
                            <button class="button" (click)="Update()">Update</button>
                        </div>
                        <div>
                            <button class="button" (click)="cancel()">Cancel</button>
                        </div>

                    </div>




                </div>
            </div>

        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>