<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12">
            <p class="Heading1">Apply Loan</p>
        </div>
    </div>
    <div class="card">
        <div class="row leavereq">
            <div class="col-md-2">
                <label>Loan Type<span style="color: red;">*</span></label>
            </div>
            <div class="col-md-2">
                <p>Loan Amount<span style="color: red;">*</span></p>
            </div>
            <div class="col-md-2">
                <p>Tenure<span style="color: red;">*</span></p>
            </div>
            
            <div class="col-md-2">
                <p>Comments<span style="color: red;">*</span></p>
            </div>
        </div>

        <div class="row leavereq">
            <div class="col-md-2">
                <select class="form-control inputfield" id="LoanType" name="LoanType" [(ngModel)]="LoanType">
                    <option value="">Select Loan Type </option>
                    <option value="SSS Calamity">SSS Calamity </option>
                    <option value="SSS Salary">SSS Salary </option>
                    <option value="HDMF Calamity">HDMF Calamity </option>
                    <option value="HDMF Salary">HDMF Salary </option>
                    <option value="Company Loan">Company Loan </option>
                </select>
            </div>
            <div class="col-md-2">
                <input type="number" id="LoanAmount" name="LoanAmount" [(ngModel)]="LoanAmount"
                    class="form-control" placeholder="Loan Amount">
            </div>
            <div class="col-md-2">
                <input type="number" id="Tenure" name="Tenure" [(ngModel)]="Tenure"
                    class="form-control" placeholder="Tenure">
            </div>
            <div class="col-md-4">
                <textarea class="form-control" rows="4" id="Comments" name="Comments" [(ngModel)]="Comments"
                    placeholder="Comments"></textarea>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-lg-7"></div>
            <div class="col-lg-2">
                <button class="form-control newrequest" routerLink="/employee/loans">Cancel</button>
            </div>
            <div class="col-lg-2">
                <button class="form-control newrequest" (click)="Save()">Submit</button>
            </div>

        </div>
    </div>



</div>
<br>