<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <p class="Heading1 ">Company Dashboard</p>
      
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 View">
           
        </div>

         <!-- <div class="col-lg-4">
            <button class="AddButton"  routerLink="/Newcompanyprofile" >Add</button>
        </div>  -->
    </div> <br>


        <div class="row">
            <div class="col-lg-12">
                <table class="table">
                    <thead>
                            <th>Company Logo</th>
                            <th>Company Name</th>
                            <th>Nature of Business</th>
                            <th>Subsidiary Name</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone No.</th>
                            <!-- <th>Reset Password</th> -->
                            <th style="padding-left: 47px;">Actions</th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr class="newFont" *ngFor="let item of result">
                            <!-- <td class="SelectData"><input type="checkbox"></td> -->
                            <td style="width: 10%;"><img src={{item.company_logo}} alt="Logo" style="width: 50%;"></td>
                            <!-- <td style="width: 10%;"><img src=item.company_logo alt="Logo"
                                            style="width: 50%;"></td> -->
                            <td style="color:#0C275A;">{{item.company_Name}}</td>
                            <td style="color:#0C275A;">{{item.nature_Of_Business}}</td>
                            <td style="color:#0C275A;">{{item.subsidiaryName}}</td>
                            <td style="color:#0C275A;">{{item.address1}}</td>
                            <td style="color:#0C275A;">{{item.email}}</td>
                            <td style="color:#0C275A;">{{item.phone}}</td>
                            <!-- <td><button class="ResetBTN">Reset</button></td> -->
                            <td> <button class="EditBTN" (click)="update(item.id)">Edit</button><br><br>
                                <button class="DeleteBTN" (click)="delete(item.id)">Delete</button>
                            </td>
                            <!-- <td><img class="imgcancel" src="/assets/cancel (1).png"></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
</div>
